{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Slug</th>
                <th>MainPicture</th>
                <th>ShortDescription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.slug }}</td>
                <td>
                    <img src="{{ asset('uploads/' ~ product.mainPicture) }}" alt="image de produit">
                </td>
                <td>{{ product.shortDescription }}</td>
                <td>
                    <a href="{{ path('app_admin_product_show', {'id': product.id}) }}"><button class='btn btn-info'>show</button></a>
                    <a href="{{ path('app_admin_product_edit', {'id': product.id}) }}"><button class='btn btn-primary'>edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">pas d'enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_product_new') }}"><button class='btn btn-secondary'>Create new</button></a>
{% endblock %}
