{% extends 'base.html.twig' %}

{% block title %}Shop | HeT
{% endblock %}

{% block body %}
	<section class="video-container">
		<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
			<source src="assets\videos\VBGv2.mp4" type="video/mp4">
		</video>
		<div class="container mt-5 pt-5">
			<h1 class='text-center text-white'>
				Notre Shop!
			</h1>
			<h3 class='text-white'>Nos Produits Phares</h3>
			<div class="row bg-light">
				{% for p in products %}
					<div class="col">
						<div class="card">
							<img src="{{ p.mainPicture }}" class="img-fluid" alt="Image du produit">
							<div class="card-body">
								<h4 class="card-title">{{ p.name }}
									({{ p.price / 100 }}
									&euro;)</h4>
								<span class="badge bg-primary">
									{{ p.category.name }}
								</span>
								<p class="card-text">{{ p.shortDescription }}</p>
								<a href="{{ path('product_show', { 'category_slug': p.category.slug, 'slug': p.slug }) }}" class="btn btn-primary btn-sm">Détails</a>
								<a href="" class="btn btn-success btn-sm">Ajouter</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<hr>
			<h2 class='text-white'>Un Service irreprochable</h2>
			<p class='text-white'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit error. Blanditiis necessitatibus reprehenderit magni?</p>

			<div class="row">
				{% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'text': "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda dolore quo, ullam ad illum iusto."
        } %}

				{% include "shared/_assurance.html.twig" with {
            'color': 'success',
            'icone': 'fas fa-check',
            'text': "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda dolore quo, ullam ad illum iusto."
        } %}

				{% include "shared/_assurance.html.twig" with {
            'color': 'warning',
            'icone': 'fas fa-shield',
            'text': "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda dolore quo, ullam ad illum iusto."
        } %}

				{% include "shared/_assurance.html.twig" with {
            'color': 'danger',
            'icone': 'fas fa-lock',
            'text': "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda dolore quo, ullam ad illum iusto."
        } %}
			</div>
		</div>
	</section>
{% endblock %}
