{% extends 'base.html.twig' %}

{% block title %}Shop | HeT
{% endblock %}

{% block body %}
	<section class="video-container">
		<div class="container mt-5 pt-5">
			<h1 class='text-center text-white'>
				Notre Shop!
			</h1>
			<h3 class='text-white'>Nos Produits Phares</h3>
			<div class="row bg-light">
				{% for p in products %}
					<div class="col">
						<div class="card">
							<img src="{{ p.mainPicture }}" class="img-fluid" alt="Image du produit">
							<div class="card-body">
								<h4 class="card-title">{{ p.name }}
									({{ p.price / 100 }}
									&euro;)</h4>
								<span class="badge bg-primary">
									{{ p.category.name }}
								</span>
								<p class="card-text">{{ p.shortDescription }}</p>
								<a href="{{ path('product_show', { 'category_slug': p.category.slug, 'slug': p.slug }) }}" class="btn btn-primary btn-sm">Détails</a>
								<a href="" class="btn btn-success btn-sm">Ajouter</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<hr>
			<h3 class='text-white'>Choississez une localité</h3>
			<div class="row bg-light">
				{% for c in category %}
					<div class="col">
						<div class="card">
							{# <img src="{{ p.mainPicture }}" class="img-fluid" alt="Image du produit"> #}
							<div class="card-body">
								<h4 class="card-title">{{ c.name }}
								</h4>
								<p class="card-text">{{ c.name }}</p>
								{# <a href="{{ path('product_show', { 'category_slug': p.category.slug, 'slug': p.slug }) }}" class="btn btn-primary btn-sm">Détails</a> #}
								<a href="/shop/{{c.name}}" class="btn btn-success btn-sm">accédé</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<hr>
			<h2 class='text-white'>Un Service irreprochable</h2>
			<p class='text-white'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit error. Blanditiis necessitatibus reprehenderit magni?</p>

			<div class="row">
				{% include "shared/_assurance.html.twig" with {
            'color': 'info',
            'icone': 'fas fa-ship',
            'text': "Nous apportons un niveau de securité optimum pour l'envoie et le suivi de vos produits. C'est dans notre ADN"
        } %}

				{% include "shared/_assurance.html.twig" with {
            'color': 'info',
            'icone': 'fas fa-check',
            'text': "Nous garantissons la reception de vos produits, conforme à vos attentes tel que nous le stipulons dans notre charte qualité."
        } %}

				{% include "shared/_assurance.html.twig" with {
            'color': 'info',
            'icone': 'fas fa-shield',
            'text': "Vos commandes, vos informations, vos données personnelles sont protégés et nous tenons à ce que cela soit transparent et precis."
        } %}

				{% include "shared/_assurance.html.twig" with {
            'color': 'info',
            'icone': 'fas fa-lock',
            'text': "Nos bases de données sont securisées, ainsi que les information circulant de notre site tel qu'indiqué dans notre charte."
        } %}
			</div>
		</div>
	</section>
{% endblock %}
