<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Human e-Terre - Au Coeur De L'Homme</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta
		content="Human e-Terre" name="education irrigation  madagascar e-commerce">

		<!-- Favicon -->
		<link href="{{asset('img/favicon.svg')}}" rel="icon">

		{% block stylesheet %}
			<!-- import du Font Awesome -->
			<link
			rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
			<!-- import du style custom -->
			<link
			href="{{asset('css/style.css') }}" rel="stylesheet">
			<!-- import du Flaticon Font -->
			<link
			href="{{asset('lib/flaticon/font/flaticon.css')}}" rel="stylesheet">
			<!-- import du carousel -->
			<link href="{{asset('lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			<!-- JavaScript /Librairie -->
			<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
			<script src="{{asset('lib/easing/easing.min.js')}}"></script>
			<script src="{{asset('lib/waypoints/waypoints.min.js')}}"></script>
			<script src="{{asset('lib/counterup/counterup.min.js')}}"></script>
			<script src="{{asset('lib/owlcarousel/owl.carousel.min.js')}}"></script>

			{# <!-- Contact Javascript File -->
			<script src="/mail/jqBootstrapValidation.min.js"></script>
			<script src="/mail/contact.js"></script> #}

			<!-- Template Javascript -->
			<script src="/js/main.js"></script>
		{% endblock %}
	</head>

	<body>
		{% include "shared/_background.html.twig" %}
		{% include "shared/_navbar.html.twig" %}
		{% block body %}
		{% endblock %}
		{% include "shared/_footer.html.twig" %}
		<!-- Back to Top -->
		<a href="#" class="btn btn-primary border back-to-top">
			<i class="fa fa-angle-double-up"></i>
		</a>
	</body>

</html>
