<!-- Navigation Start -->
<div
	class="fixed-top position-relative">
	<!-- Topbar Start -->
	<div class="container-fluid bg-light">
		<div class="row bg-info py-2 px-lg-5">
			<div class="col-lg text-center text-lg-right">
				<div class="d-inline-flex align-items-center">
					<p class="m-0 mr-1 text-white">Suivez Nous:</p>
					<a class="text-white px-2" href="">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a class="text-white px-2" href="">
						<i class="fab fa-twitter"></i>
					</a>
					<a class="text-white px-2" href="">
						<i class="fab fa-instagram"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="d-flex fex-row py-3 px-lg-5">
			<div class="col-lg-4">
				<a href="{{path('app_accueil')}}" class="navbar-brand d-lg-block">
					<img class="img-fluid" src="{{asset('img/favicon.png') }}" alt="logo">
				</a>
			</div>
			<div class="col-lg-8 text-center text-lg-right">
				<div class="d-inline-flex align-items-center">
					<div class="d-inline-flex flex-column text-center pl-3 border-left">
						<h6>Notre Centre</h6>
						<p class="m-0">Ambalakionga MADAGASCAR</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Topbar End -->


	<!-- Navbar Start -->
	<div class="container-fluid mb-5 p-0 nav-bar">
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-0">
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
				<div class="navbar-nav m-auto py-4">
					<a href="{{ path('app_accueil') }}" class="nav-item nav-link ">
						<span class="text-white">H</span>uman
						<span class="text-white">e-</span>
						<span class="text-white">T</span>erre</a>
					<a href="{{ path('app_shop') }}" class="nav-item nav-link ">
						<span class="text-white">N</span>otre
						<span class="text-white">e-</span>
						<span class="text-white">S</span>hop</a>
					{# todo pages 'missions', 'projets' + liens navbar, navpages #}
					<a href="contact.html" class="nav-item nav-link">Panier</a>

					<div class="nav-item dropdown">
						<a href="{{path('app_shop')}}" class="nav-link dropdown-toggle" data-toggle="dropdown">Mon Compte</a>
						<div class="dropdown-menu text-capitalize">
							<a href="{{path('app_login')}}" class="dropdown-item">Connexion</a>
							<a href="{{path('app_logout')}}" class="dropdown-item">Deconnexion</a>
							<a href="{{path('app_register')}}" class="dropdown-item">S'Inscrire</a>
						</div>
					</div>
					<a href="{{ path('app_contact')}}" class="nav-item nav-link">Nous Contacter</a>

					{# condition d'affichage administrateur #}
					{% if is_granted('ROLE_ADMIN' ) %}
						<div class="nav-item dropdown">
							<a href="{{path('app_shop')}}" class="nav-link dropdown-toggle" data-toggle="dropdown">Gestion</a>
							<div class="dropdown-menu text-capitalize">
								<a href="{{ path('app_admin_user_index') }}" class="dropdown-item">Gestion utilisateurs</a>
								<a href="/admin/category" class="dropdown-item">Gestion categories</a>
								<a href="/admin/product" class="dropdown-item">Gestion produits</a>
							</div>
						</div>
					{% endif %}


				</div>
			</div>
		</nav>
	</div>
	<!-- Navbar End -->
</div>
<!-- Navigation End -->
